@model System.Collections.Generic.IEnumerable<WebApp.Models.Client.ClientViewModel>
@{
    ViewData["Title"] = "Clientes";
}

<h1>Clientes</h1>
<div><a asp-controller="Client" asp-action="Register">+ Adicionar novo cliente</a></div>
<br />
<div class="text-left">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Documento</th>
                <th>Email</th>
                <th>Cidade</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in Model)
            {
                <tr>
                    <td><a asp-controller="Client" asp-action="Detail" asp-route-id="@client.Id">Detalhes</a></td>
                    <td>@client.FirstName @client.LastName</td>
                    <td>@client.PhoneNumber</td>
                    <td>@client.DocumentNumber</td>
                    <td>@client.Email</td>
                    <td>@client.Address?.City</td>
                    <td>@client.Address?.State</td>
                </tr>
            }
        </tbody>
    </table>
</div>